body {
  background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
  text-align: center;
  display : block; /*t*/
  margin : 8px; /*t*/
}

.logo {
background: url("https://i.dlpng.com/static/png/253278_thumb.png") center center no-repeat; /*t*/
  width: 400px;
  height: 300px;
  margin : 0 auto;
  margin-top: -20px; /*t*/
}

.info-container {
  border : 3px solid yellow;
  border-radius : 20px;
  width : 500px;
  height : 250px;
  margin : 0 auto;
  margin-top : -15px; /*t*/
}

#button{
  margin-top : 25px;
  border : 3px solid yellow;
  border-radius : 8px;
  width : 200px;
  height : 30px;
  font-weight: bold;
  font-size: 17px;
  cursor : pointer;
}

#name{
	color: white;
	font-size: 30px;
}

#height{
	color: white;
	font-size: 20px;
}

#gender{
	color: white;
	font-size: 20px;
}

#birth-year{
	color: white;
	font-size: 20px;
}

#home-world{
	color: white;
	font-size: 20px;
}

p{
	color: white;
	font-weight: bold;
	font-size: 30px;
}
