body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 14px;
}
a {
  display: block;
  text-align: center;
  font-size: 14px;
}

form > span, form > input {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
span {
  display: block;
  text-align: center;
  margin-top: 20px;
}
img {
  display: block;
  margin: auto;
  margin-top: 20px;
}
ul > li {
  
  margin: auto;
}

.HS {
  color : red;
  background-color: lightblue;
}