.navbar{ background:#F97300;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;} 

.navbar-toggler{  background:#fff !important;}

.header{
	background-image:url("b_ground.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#submit2 {
  margin-left : 50px;
  background-color : blue;
   color: white;
}

#input {
   float : right;
    margin-bottom : 70px;
}

#password {
    margin-top : 5px;
    margin-bottom : 10px
}